{% extends 'studeals/layouts/split.html' %}
{% load studeals_tags %}

{% block content %}
	<h2 class="mb-4">{% category_picture %} <span class="ml-2">{{ category.name }}</span></h2>
	{% if offers %}
	<table class="table">
			<thead>
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Promo</th>
					<th scope="col">Expires on</th>
				</tr>
			</thead>
			<tbody>
				{% for offer in offers %}
					<tr>
					<td><a href={% url 'show_offer' offer.slug %}>{{offer.title}}</a></td>
					<td>{{offer.price}}</td>
					<td>{{offer.expiration_date}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<strong>No offers currently in category.</strong>
	{% endif %}
{% endblock %}


{% block sidebar %}
{% endblock %}