{% extends 'studeals/layouts/base.html' %}
{% load studeals_tags %}
{% block main %}
<div class="container">
	<h2 class="mb-4">Categories</h2>
	{% if categories %}
	<div class="list-group-flush">
	{% for category in categories %}
		<a class="list-group-item list-group-item-action" href="{% url 'show_category' category.slug %}">
		{% category_picture %} <span class="bigger-text ml-3">{{ category.name }}</span>
		</a>
	{% endfor %}
	</div>
	{% else %}
		<p class="text-muted">There are currently no categories!</p>
	{% endif %}
</div>
{% endblock %}