{% extends 'studeals/layouts/split.html' %}

{% block content %}
	<h2 class="mb-4">Contact Us</h2>
		<h4> The Team:</h4>
		<h5> Luca Vizzaro</h5>
			<li>E-mail: 2252593v@student.gla.ac.uk</li>
			<li><a href="https://www.facebook.com/sevenarth">Facebook: Luca Vizzaro</a></li>
		<h5> Ivan Delev</h5>
			<li>E-mail: 2262800d@student.gla.ac.uk</li>
			<li><a href="https://www.facebook.com/IvanNiDelev">Facebook:Ivan Delev</a></li>
		<h5> Ibrahim Javed</h5>
			<li>E-mail: 2265799j@student.gla.ac.uk</li>
			<li><a href="https://www.facebook.com/Ibrahim.A.Javed">Facebook: Ibrahim Javed</a></li>
		<h5> Alek Panfilov</h5>
			<li>E-mail: 2205693p@student.gla.ac.uk</li>
			<li><a href="goo.gl/d5cA9h">Facebook: Alek Panfilov</a></li>
{% endblock %}


{% block sidebar %}
{% endblock %}
