{% extends 'studeals/layouts/base.html' %}

{% block title %}Login{% endblock %}
{% block scripts %}<script src='https://www.google.com/recaptcha/api.js'></script>{% endblock %}

{% block main %}
<div class="mx-3">
	<div class="card form-card">
	  <div class="card-header">
	    Login
	  </div>
	  <div class="card-body">
			<form id="page-form" method="post" action="{% url 'login' %}">
		    {% csrf_token %}

				{% if messages %}
				{% for msg in messages %}
		        <div class="alert alert-{{msg.level_tag}}" role="alert">
		        {{msg.message}}
		        </div>
		    {% endfor %}
				{% endif %}

				{% if errors %}
				<div class="alert alert-danger">
					{% for error in errors %}
					{{ error }}<br>
					{% endfor %}
				</div>
				{% endif %}

		    <fieldset class="form-group">
		      <label for="username">Username/Email address:</label>
		      <input id="username" class="form-control" type="text" name="username" required>
		    </fieldset>

		    <fieldset class="form-group">
		      <label for="password">Password:</label>
		      <input id="password" class="form-control" type="password" name="password" required>
		    </fieldset>

		    <p><a href="{% url 'request_password_reset' %}">I forgot my username/password</a></p>

		    <button type="submit" data-callback="submitPageForm" data-sitekey="{{ recaptcha_public_key }}" class="g-recaptcha my-2 btn btn-lg btn-primary">Login</button>
		    or <a href="{% url 'register' %}">sign up now</a>.
		  </form>
	  </div>
	</div>
</div>
{% endblock %}
