{% extends 'studeals/base.html' %}
{% load staticfiles %}
	{% block col_1 %}
		<div class="col-sm-8">
			{% if offers %}
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Price</th>
						<th scope="col">Expires</th>
					</tr>
				</thead>
				<tbody>
					{% for offer in offers %}
						<tr>
						<td>{{offer.title}}</td>
						<td>{{offer.price}}</td>
						<td>{{offer.expiration_date}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
				<h4>There are currently no offers!</h4>
			{% endif %}
		</div>
	{% endblock %}


	{% block col_2 %}
		<div class="col-sm-8">
		</div>
	{% endblock %}