{% extends 'studeals/layouts/base.html' %}

{% block title %}I forgot my username/password{% endblock %}
{% block scripts %}<script src='https://www.google.com/recaptcha/api.js'></script>{% endblock %}

{% block main %}
<div class="mx-3">
	<div class="card form-card">
	  <div class="card-header">
	    I forgot my username/password
	  </div>
	  <div class="card-body">
			{% if form.non_field_errors %}
			<div class="alert alert-danger">
				{% for error in form.non_field_errors %}
				{{ error|escape }}<br>
				{% endfor %}
			</div>
			{% endif %}
			<form id="page-form" method="post" action="{% url 'request_password_reset' %}">
				{% include 'studeals/widgets/form.html' %}

				<button type="submit" data-callback="submitPageForm" data-sitekey="{{ recaptcha_public_key }}"  class="g-recaptcha btn btn-primary">Send password reset link</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
