{% extends 'studeals/layouts/base.html' %}

{% block main %}
<div class="mx-3">
	<div class="card form-card">
	  <div class="card-header">
	    Password reset
	  </div>
	  <div class="card-body">
			{% if form.non_field_errors %}
			<div class="alert alert-danger">
				{% for error in form.non_field_errors %}
				{{ error|escape }}<br>
				{% endfor %}
			</div>
			{% endif %}
			<form method="post" action="{% url 'password_reset' uidb64=uid token=token %}">
				{% include 'studeals/widgets/form.html' %}

				<button type="submit" class="btn btn-primary">Sign up now!</button>
		    or <a href="{% url 'login' %}">login</a>.
			</form>
		</div>
	</div>
</div>
{% endblock %}
