{% extends 'studeals/layouts/base.html' %}

{% block title %}Register{% endblock %}
{% block scripts %}<script src='https://www.google.com/recaptcha/api.js'></script>{% endblock %}

{% block main %}
<div class="mx-3">
	<div class="card form-card">
	  <div class="card-header">
	    Register
	  </div>
	  <div class="card-body">
			{% if form.non_field_errors %}
			<div class="alert alert-danger">
				{% for error in form.non_field_errors %}
				{{ error|escape }}<br>
				{% endfor %}
			</div>
			{% endif %}
			<form id="page-form" method="post" action="{% url 'register' %}">
				{% include 'studeals/widgets/form.html' %}

				<button type="submit" data-callback="submitPageForm" data-sitekey="{{ recaptcha_public_key }}" class="g-recaptcha btn btn-lg btn-primary">Register</button>
				or <a href="{% url 'login' %}">login</a>.
			</form>
		</div>
	</div>
</div>
{% endblock %}
