/**
  * SASS main file
  *
  * Author: Luca Vizzarro <2252593v@student.gla.ac.uk>
  * Dev Team: WAD2 Lab 9 Team A
  */

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

html { height: 100% }

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  height: 100%;
  transition: transform ease-out .3s;
  transform: translate3d(0,0,0);

  @include media-breakpoint-down(sm) {
    &.offpage-nav-visible {
      overflow: hidden;
      transform: translate3d(250px,0,0);
    }
  }

  &.loading, &.loading * {
    transition: none !important;
  }
}

img {
  image-orientation: from-image;
}

.logo {
  margin: 0 1rem;
  max-height: 50px
}

a:active, a:focus {
  outline: 0;
}

#nav {
  @include media-breakpoint-down(sm) {
    display: none
  }
}

#offpage-nav {
  transform: translate3d(-250px,0,0);
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: $white;
}

#overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 9000;
  height: 100%;
  width: 100%;
  transition: visibility 0s ease-out 0.3s, opacity 0.3s ease-out;

  @include media-breakpoint-down(sm) {
    body.offpage-nav-visible & {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  }
}

.welcome {
  .message {
    font-size: 1.1rem;
    margin: .5rem 0;

    @include media-breakpoint-up(sm) {
      font-size: 1.7rem
    }
  }

  .input-group {
    & > .form-control,
    & > .input-group-append > .btn,
    & > .input-group-append > .input-group-text,
    & > .input-group-prepend > .btn,
    & > .input-group-prepend > .input-group-text {
      padding: .6rem .7rem;
      font-size: 1.1rem;
      line-height: 1.5;

      @include media-breakpoint-up(sm) {
        padding: .7rem 1rem;
        font-size: 1.5rem;
      }
    }
  }

  background-image: url('../images/jumbotron.svg');
  background-repeat: repeat;
  color: $white;
}

.geolocation {
  display: none;

  .geolocation-enabled & {
    display: inherit;
  }
}

.form-card {
  max-width: 500px;
  margin: 3rem auto;
}

.large-card {
  max-width: 850px;
  margin: 3rem auto;
}

.picture-update {
  cursor: pointer;
  position: relative;
  display: inline-block;

  &.fixed-overlay {
    cursor: default
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0,0,0,.4);
    color: $white;
    border-radius: .25rem;
    font-size: 1.25rem;
    font-weight: bold;
    transition: opacity ease-out .2s;
    transition: background-color ease-out .6s;
  }

  &:hover .overlay, &.fixed-overlay .overlay {
    opacity: 1;
  }
}

.profile_picture {
  max-height: 200px;
}

.loading-circle  {
  .loader {
    stroke: $white;
    fill: none;
    stroke-width: 14;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    stroke-dashoffset: 307;
    stroke-dasharray: 307;

    &.indefinite {
      stroke-dasharray: 65 90;
      animation: spin .8s linear infinite;
    }  

    @keyframes spin {
      from { stroke-dashoffset: 307 }
      to { stroke-dashoffset: 0 }
    }
  }
  

  .icon path {
    fill: $white;
  }
}

.category-picture {
  max-width: 50px;
}

.bigger-text {
  font-size: 1.5rem;

  @include media-breakpoint-down(sm) {
    font-size: 1.2rem;
  }
}

.rating {
  position: relative;
  background-image: url('../images/empty_stars.svg');
  background-size: 150px 30px;
  background-repeat: no-repeat;
  height: 30px;
  width: 150px;

  .rating-fill {
    background-image: url('../images/full_stars.svg');
    background-size: 150px 30px;
    background-repeat: no-repeat;
    width: 100%;
    height: 30px
  }

  .selector {
    position: absolute;
    top: 0;
    z-index: 50;
    width: 10%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
  }
}