{% extends 'studeals/layouts/email.html' %}

{% block main %}
{% autoescape off %}
<main>
  <h2>Hey there!</h2>
  <p>A password reset has been requested for the user <b>{{ user.username }}</b>! If you did not request it personally, you can ignore this email.
  <p>To proceed with the password reset, click the  button below:</p>
  <div class="text-center">
    <a class="btn" href="{{ absolute_url }}{% url 'password_reset' uidb64=uid token=token %}">Reset my password</a>
  </div>
  <p>Regards,<br>Studeals</p>
  <p></p>
  <p class="text-muted"><small>If you are unable to click the button, copy and paste in the address bar of your browser the following URL: {{ absolute_url }}{% url 'password_reset' uidb64=uid token=token %}</small></p>
</main>
{% endautoescape %}
{% endblock %}
